*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

th {
  text-transform: uppercase;
}

table {
  width: 25rem;
}

table, th, tr, td {
  padding: 1rem;
  border: 2px solid #000000;
  border-collapse: collapse;
}

th {
  background-color: #464646;
  color: white;
}

tr:nth-child(even) {
  background-color: #d6d6d6;
}